*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 32px;
    min-height: 80px;
}
nav img{
    max-height: 48px;
    background-color: white;
}
/* .spacer{
    border: 1px solid yellow;
    display: inline-block;
    Paren widdth - Logo width - Menu <ul> width
    width: calc(100% - 40px - 280px);
} */
nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}
nav ul li{
    display: flex;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}
nav ul li a.current{
    color: green;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(229, 145, 000);
}
nav ul li a:active {
    color: green;
}
main{
    width: 100%;
    min-height: 615px;
    display: inline-block;
}

/* Home page */

.image{
    float: left;
}
main article .image img{
    height: 250px;
}
/* About Page */

.image-2{
    float: right;
}
main article .image-2 img{
    height: 250px;
}

/* Contact Page */
.contact-container{
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 2 1 100px; */
}

.left{
    border: 1px black solid;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;

}

.right{
    border: 1px black solid;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.both{
    border: 1px black solid;
    flex-basis: 840px;
    flex-grow: 1;
    flex-shrink: 1;

}

/* Service Page */
section{
    width: calc(100% - 204px);
    height: 615px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.nintendo{
    width: 150px;
}
.show div{
    display: none;
}

.show div:target{

    margin: 40px;
    display: block;
    border: 2px solid darkorange;
    background-color: beige;
}

main nav{
    width: 200px;
    height: 615px;
    display: inline-block;
    background-color: gray;
    vertical-align: top;
    padding: 20px;
    border: 3px solid black;
}
main nav h2{
    padding: 10px 10px 40px 10px;
    font-size: 30px;
}

main nav ul{
    display: flex;
    flex-direction: column;
}

main nav ul li a{
    font-size: 18px;
}

main nav ul li a:link,
main nav ul li a:visited{
    color: skyblue;;

}

main nav ul li a:hover {
    color: rgb(229, 145, 000);
}

main nav ul li a:active {
    color: green;
}

/* FAQ Page */
main{
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
}

main div.navegation-gallery{
    padding: 20px;
    border: #1f1f1f 1px solid;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 15px;
}

#color{
    background-color: lightblue;
}

main div.navegation-gallery div{
    display: flex;
    border: #1f1f1f 1px solid;
    flex-basis: 40px;
    background-color: aliceblue;
}

main div.gallery{
    border: #1f1f1f 1px solid;
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100px;
    flex-grow: 7;
    flex-shrink: 1;
    gap: 20px;
    background-color: azure;
}

    main div.gallery div{
        display: flex;
        border: #1f1f1f 1px solid;
        max-height: 230px;
        background-color: white;

    }
main div.gallery div img{
    display: flex;
    height: 230px;
}



/* Footer Section */

footer{
    display: flex;
    background-color: #1f1f1f;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
}
footer nav{
    justify-content: center;
    padding: 0px;
    min-height: 0px;
}

.spacer_two{
    display: flex;
    align-items: center;
    border: 1px solid white;
    width: calc(100% - 100px);
}

footer {
    display: flex;
    align-items: center;
}
